<!-- 
my-app-info: displays a specified label in bold above the data (ex: First name: Wendy) 
    label: describes that the data is
    data: data

red-flags: displays red flags (major flags) and gives option to acknowledge or override each flag
    flag-data: flag json data
    key: what section of data has the flag
    acknowledge-func: function to acknowledge this flag
    override-func: same as above but to override & delete flag

in the future: will add yellow-flags
-->

<div class="page">

    <!-- go back to list of applicants instead of just looking at this applicant -->
    <a href="index.html#!/reviewer">
        <md-button>Back</md-button>
    </a>
    
    <!-- displays personal info & flags -->
    <div class="spec-app-info-container">
        <h3>1) Personal info</h3>
        <div class="flexWrap">
            <my-app-info
                label="First name:"
                data="appData.personalInfo.firstName"
            ></my-app-info>
            <my-app-info
                label="Last name:"
                data="appData.personalInfo.lastName"
            ></my-app-info>
            <my-app-info
                label="Email:"
                data="appData.personalInfo.email"
            ></my-app-info>
            <my-app-info
                label="Birthday:"
                data="appData.personalInfo.birthday"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.personalInfo.redFlags"
            key="personalInfo"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>

    <!-- displays legal statuses & flags -->
    <div class="spec-app-info-container">
        <h3>2) Legal status</h3>
        <div class="flexWrap">
            <my-app-info
                label="Immigration status:"
                data="appData.legalStat.legalStatus"
            ></my-app-info>
            <my-app-info
                label="Has drivers:"
                data="appData.legalStat.hasDrivers == null ? 'None' : appData.legalStat.hasDrivers"
            ></my-app-info>
            <div ng-show="appData.legalStat.hasDrivers != null">
                <my-app-info
                    label="Drivers license type:"
                    data="appData.legalStat.driversType"
                ></my-app-info>
            </div>
            <my-app-info
                label="Total practice hours:"
                data="appData.legalStat.numPracticeHours"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.legalStat.redFlags"
            key="legalStat"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>

    <!-- prev & current PRA attempts & flags -->
    <div class="spec-app-info-container">
        <h3>3) Previous & current PRA attempts</h3>

        <!-- each individual attempt at PRA -->
        <div class="spec-app-info-container" ng-repeat="attempt in appData.prevPRA.prevPRAAttempts track by $index">
            <p>PRA Attempt {{$index + 1}}:</p>
            <div class="flexWrap">
                <my-app-info
                    label="Written TDM:"
                    data="appData.prevPRA.prevPRAAttempts[$index].written"
                ></my-app-info>
                <div ng-show="appData.prevPRA.prevPRAAttempts[$index].written == 'true'">
                    <my-app-info
                        label="Passed:"
                        data="appData.prevPRA.prevPRAAttempts[$index].passed"
                    ></my-app-info>
                </div>
                <div ng-show="appData.prevPRA.prevPRAAttempts[$index].passed == 'true'">
                    <my-app-info
                        label="Current:"
                        data="appData.prevPRA.prevPRAAttempts[$index].current"
                    ></my-app-info>
                </div>
            </div>
        </div>

        <red-flags flag-data="appData.prevPRA.redFlags"
            key="prevPRA"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>

    <!-- medical education & flags -->
    <div class="spec-app-info-container">
        <h3>4) Medical education</h3>
        <div class="flexWrap">
            <my-app-info
                label="School:"
                data="appData.medicalEd.school"
            ></my-app-info>
            <my-app-info
                label="Medical Degree Program Name:"
                data="appData.medicalEd.medDegreeName"
            ></my-app-info>
            <my-app-info
                label="Graduation Year:"
                data="appData.medicalEd.gradYr"
            ></my-app-info>
            <my-app-info
                label="Education Language:"
                data="appData.medicalEd.edLang"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.medicalEd.redFlags"
            key="medicalEd"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>

    <!-- english proficiency & flags, only renders necessary info (ex: if the user did not select an exam, will not show expiry date) -->
    <div class="spec-app-info-container">
        <h3>5) English proficiency</h3>
        <div class="flexWrap">
            <my-app-info
                label="Proof of English language proficiency:"
                data="appData.engProficiency.test"
            ></my-app-info>
            <div ng-show="appData.engProficiency.test == 'Recent practice in English speaking country'">
                <my-app-info
                    label="Percentage of usage:"
                    data="appData.engProficiency.score"
                ></my-app-info>
            </div>
            <div class="flexWrap" ng-show="appData.engProficiency.test != 'Recent practice in English speaking country'">
                <my-app-info
                    label="Score:"
                    data="appData.engProficiency.score"
                ></my-app-info>
                <my-app-info
                    label="Test score expired:"
                    data="appData.engProficiency.expired"
                ></my-app-info>
            </div>
            <my-app-info
                label="Actively uses english:"
                data="appData.engProficiency.activeUse"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.engProficiency.redFlags"
            key="engProficiency"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>

    <!-- exams & flags -->
    <div class="spec-app-info-container">
        <h3>6) Exams</h3>
        <div class="flexWrap">
            <my-app-info
                label="NAC Date:"
                data="appData.exams.NACDate"
            ></my-app-info>
            <my-app-info
                label="MCCQE2 Date:"
                data="appData.exams.MCCQE2Date"
            ></my-app-info>
            <my-app-info
                label="MCCQE1 Date:"
                data="appData.exams.MCCQE1Date"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.exams.redFlags"
            key="exams"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>

    <!-- postgrad training & flags -->
    <div class="spec-app-info-container">
        <h3>7) Post-grad training</h3>
        <div class="flexWrap">
            <my-app-info
                label="# Months spent in post-grad training:"
                data="appData.postGradTraining.monthsPostGrad"
            ></my-app-info>
            <my-app-info
                label="# Months spent in independent training:"
                data="appData.postGradTraining.monthsIndependent"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.postGradTraining.redFlags"
            key="postGradTraining"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>
    
    <!-- rotations & flags -->
    <div class="spec-app-info-container">
        <h3>8) Rotations</h3>
        <div class="flexWrap">
            <my-app-info
                label="Completed 7 rotations:"
                data="appData.rotations.completed7"
            ></my-app-info>
            <my-app-info
                label="Impairment in ability to practice:"
                data="appData.rotations.impairment"
            ></my-app-info>
        </div>
        <red-flags flag-data="appData.rotations.redFlags"
            key="rotations"
            acknowledge-func="aknowFunc(key, index)"
            override-func="overrideFlag(key, index)"
        ></red-flags>
    </div>
</div>